

.spline-explore canvas{
  width: 100vw !important;
  height: 100vh !important;
}

.title-1 {
  font-size: 75px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 50px;
}

.title-2 {
  font-size: 100px;
  color: #255067;
  margin-top: 20px;
  margin-left: 150px;
}

.exploreButton {
  position: fixed;
  bottom: 0;
  margin-bottom: 150px;
  margin-left: 480px;
}

.flex-items {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  width: 700px;
  height: 500px;
  margin-right: 100px;
  border-radius: 15px;
  margin-left: 100px;
}

.myself-info {
  font-size: 25px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Shippori Antique', sans-serif;
  line-height: 2;
}


.about-title {
  font-size: 75px;
  color: #ffffff;
  padding-top: 70px;
  padding-left: 75px;
  padding-bottom: 50px;
}

.frame-paragraph{
  background-color: rgba(53, 16, 48, 0.1);
  border-radius: 15px;
  margin-left: 80px;
}

.flex-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  color: #ffffff;
  background-color: #255067;
  align-items: center;
}

.link-to {
  color: #ffffff;
  text-decoration: none;
}

.skills-title {
  font-size: 75px;
  color: #ffffff;
  margin-top: 170px;
  margin-left: 75px;
}

.flex-d {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.front-end {
  color: #255067;
  font-size: 65px;
}

.back-end{
  color: #255067;
  font-size: 65px;
}

.front-list {
  color: white;
  font-size: 30px;
  background-color: rgba(53, 16, 48, 0.1);
  padding: 50px;
  border-radius: 15px;
}

.back-list {
  color: white;
  font-size: 30px;
  background-color: rgba(53, 16, 48, 0.1);
  padding: 50px;
  border-radius: 15px;
}

.flex-lists {
  display: flex;
  justify-content: space-evenly;
}

.padding-list {
  padding: 15px;
}

.projects-style {
  color: white;
  margin-top: 150px;
  font-size: 75px;
  margin-left: 75px;
}

.docsight-card {
  width: 475px;
}

.metacrew-card {
  width: 475px;
}

.footpage {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: 'Shippori Antique', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
}

.contact {
  color: white;
  font-size: 30px;
}

.card-disposition {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  background-image: linear-gradient(0deg, #D3B031 0.1%, #9CD0ED);
  border-radius: 25px;
  box-shadow: 0.5 0.5 ;
  font-family: 'Shippori Antique', sans-serif;
  font-size: 12.5px;
  max-height: 1000px;
  margin-bottom: 50px;
  width: 520px;
  height: 700px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.img-size {
  width: 500px;
}

.place-in-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.margin-card {
  margin-left: 25px;
  margin-right: 25px;
}

.adjust-logo-text {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.linkedin:hover, .github:hover {
  margin-bottom: 10px;
}
