@media screen and (max-width: 768px) {
  .title-1 {
    font-size: 37px !important;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 30px !important;
  }

  .title-2 {
    font-size: 45px !important;
    color: #255067;
    margin-top: 20px;
    margin-left: 30px !important;
  }

  .exploreButton {
    position: absolute !important;
    bottom: 5% !important;
    width: 269px !important;
  }

  .myself-info {
    font-size: 15px !important;
    color: #ffffff;
    padding: 15px !important;
    display: flex;
    margin: 15px !important;
    font-family: 'Shippori Antique', sans-serif;
    line-height: 2;
  }

  .profile-pic {
    display: none;
  }

  .about-title {
    font-size: 50px !important;
    color: #ffffff;
    padding-left: 20px !important;
    padding-bottom: 0px !important;
  }

  .flex-items {
    display: block;
    margin: 20px !important;
    margin-left: 20px !important;
    justify-content: center !important;
    margin-left: 0px !important;
  }

  .frame-paragraph{
    background-color: rgba(53, 16, 48, 0.1);
    border-radius: 15px;
    margin-left: 20px !important;

}

.skills-title {
  font-size: 50px !important;
  color: #ffffff;
  margin-top: 50px !important;
  margin-left: 20px !important;
  }


  .projects-style {
    color: white;
    margin-top: 90px;
    font-size: 50px !important;
    margin-left: 20px !important;
  }

  .cards-mobile {
    display: flex;
    justify-content: center;
  }

  .card-disposition {
    display: block !important;
    flex-direction: column !important;
  }

  .card{
    border-radius: 25px;
    box-shadow: 0.5 0.5;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 10px;
    margin-bottom: 50px;
    width: 350px !important;
    min-height: 624px !important;
    max-height: 750px !important;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    background: linear-gradient(0deg, #D3B031 0.1%, #9cd0ed);
  }

  .img-size {
    width: 300px !important;
  }

  .flex-d {
    display: block !important;
    justify-content: center !important;
    margin-top: 0px !important;
    padding: 20px !important;

  }

  .extended-list {
    color: #255067;
    font-size: 30px !important;
    margin-top: 20px !important;
  }

  .displayment-list {
    height: 0px;
  }

.footpage {
  color: white;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  padding-right: 60px;
  font-size: 20px;
  font-family: 'Shippori Antique', sans-serif;
  display: block !important;
  justify-content: left;
  padding-left: 5px !important;
}

.align-phone-logo {
  margin-left: 0px !important;
}
.adjust-logo-text {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.mobile-logo {
  display: flex !important;
  justify-content: space-evenly !important;
  margin-left: 0px !important;
  width: 396px !important;
  margin-top: 15px !important;
}


.about-space {
  margin-top: 40px !important;
 }

}

.flex-items {
  display: flex;
  margin: 20px;
  margin-left: 20px;
  justify-content: space-between;
  margin-left: 0px;
}

.title-1 {
  font-size: 75px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 50px;
}

.title-2 {
  font-size: 100px;
  color: #255067;
  margin-top: 20px;
  margin-left: 150px;
}

.exploreButton {
  position: fixed;
  bottom: 0;
  margin-bottom: 150px;
}

.exploreButton:hover {
  box-shadow: 0px 10px 10px 5px #D3B031;
  animation: pulse 0.5s ease forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.display-explore {
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 700px;
  height: 500px;
  margin-right: 100px;
  border-radius: 15px;
  margin-left: 100px;
}

.myself-info {
  font-size: 25px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Shippori Antique', sans-serif;
  line-height: 2;
}

.about-title {
  font-size: 75px;
  color: #ffffff;
  padding-left: 75px;
  padding-bottom: 50px;
}

.frame-paragraph{
  background-color: rgba(53, 16, 48, 0.1);
  border-radius: 15px;
  margin-left: 80px;
}

.skills-list-style {
  padding: "0";
  height: "0vh";
  width: "28vw";
  cursor: "pointer";
  }

  .lists-style {
    color: white;
    font-size: 25px;
    background-color: rgba(53, 16, 48, 0.1);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    animation: zoomOut 0.5s ease;
    margin-top: 20px;
  }

.flex-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  color: #ffffff;
  background-color: #255067;
  align-items: center;
  position: sticky;
  top: 0;
}

.change-color:hover {
  background: linear-gradient(to right, #D3B031 0.1%, #9CD0ED);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  cursor: pointer;
}

.link-to {
  color: #ffffff;
  text-decoration: none;
}

.skills-title {
  font-size: 75px;
  color: #ffffff;
  margin-top: 170px;
  margin-left: 75px;
}

.flex-d {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.extended-list {
  color: #255067;
  font-size: 55px;
  margin-top: 20vh;
}

.lists-style {
  color: white;
  font-size: 25px;
  background-color: rgba(53, 16, 48, 0.1);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  animation: zoomOut 0.5s ease;
}

@keyframes zoomOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.flex-lists {
  display: flex;
  justify-content: center;
}

.padding-list {
  padding: 15px;
}

.projects-style {
  color: white;
  margin-top: 90px;
  font-size: 75px;
  margin-left: 75px;
}

.docsight-card {
  width: 475px;
}

.metacrew-card {
  width: 475px;
}

.footpage {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: 'Shippori Antique', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
}

.align-phone-logo {
  margin-left: 80px;
}

.contact {
  color: white;
  font-size: 30px;
}

.card-disposition {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  border-radius: 25px;
  box-shadow: 0.5 0.5;
  font-family: 'Shippori Antique', sans-serif;
  font-size: 12.5px;
  margin-bottom: 50px;
  width: 520px;
  height: 700px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  background: linear-gradient(0deg, #D3B031 0.1%, #9cd0ed);
}

.card:hover {
  background: linear-gradient(0deg, #eabf26 0.1%, #7abee2);
  box-shadow: 0.3px 0.3px 5px #5A646E;
}


.img-size {
  width: 500px;
}

.place-in-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.margin-card {
  margin-left: 25px;
  margin-right: 25px;
}

.adjust-logo-text {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.fa-linkedin:hover, .fa-github:hover {
  margin-bottom: 10px;
  color:#D3B031;
  animation: rotate 0.2s linear 1;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg); /* Start the rotation from 0 degrees */
  }
  100% {
      transform: rotate(360deg); /* Rotate the icon 360 degrees */
  }
}

.displayment-list {
  height: 60vh;
}

.skills-list-style {
  padding: "0";
  height: "40vh";
  width: "10vw";
  cursor: "pointer";
  }

.mobile-logo {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  background-color: #255067;
  max-width: 185px;
  border-radius: 10px;
  padding: 15px;
  opacity: 0.9;
  animation: slideIn 0.3s ease;
  margin-top: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.about-space {
  margin-top: 130px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky-disappear {
  display: none;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg); /* Start the rotation from 0 degrees */
  }
  100% {
      transform: rotate(180deg); /* Rotate the icon 360 degrees */
  }
}
.displayment-list-mobile {
  height: none;
}
